@namespace s  "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace containers "containers.*";
@namespace components "components.*";
@namespace viewcomponents "view.components.*";
@namespace wizardcomponents "components.wizard.*";

/* styleName to be used for toolTips created with ToolTipManager.createToolTip */
.createToolTip {
	color: black;
	fontSize: 12;
	fontStyle: normal;
	borderSkin: ClassReference("skins.ToolTipBorderSkin");
	borderStyle: solid;
	borderColor: #000000;
	cornerRadius: 0;
	backgroundAlpha: 1.0;
	backgroundColor: white;
}

s|Application {
	fontFamily: Arial;
	fontSize: 12;
}

s|BorderContainer {
	borderStyle: solid;
	borderColor: #ffffff;
	cornerRadius: 0;
	backgroundColor: white;
	backgroundAlpha: 0.5;
}

#narrativeMainView{	
	/*
	backgroundColor: red;
	backgroundAlpha: 0.5;
	border: 1px solid red;
	*/
}

wizardcomponents|WizardComponent {
	cornerRadius: 0;
}

s|Button {
	cornerRadius: 0;
}

s|ButtonBarButton {
	cornerRadius: 0; 
	fontWeight:bold;
}

.narrativeBarButton {
	color:#c8c9dc;
	backgroundColor:#d9afa2;
}

.narrativeBarButton:selectedStates {
	color:#c8c9dc;
	backgroundColor: #8d90ae;
}

mx|ToolTip {
	backgroundAlpha: 1.0;
	backgroundColor: white;
	color: black;
	borderColor: #cccccc;
	cornerRadius: 0;
	fontSize: 12;
	fontStyle: normal;
}

components|VolanteToolTip {
	backgroundAlpha: 1.0;
	backgroundColor: white;
	color: black;
	borderColor: #cccccc;
	cornerRadius: 0;
	fontSize: 12;
	fontStyle: normal;
}

components|VolanteTextArea:selected {
	color : #000000;
	borderColor: #5a62a6;
}

components|VolanteTextArea:disabled {
	color : #000000;
	borderColor: #000000;
}

components|VolanteTextArea:normal {
	color : #000000;
	borderColor: #000000;
}

containers|ButtonScrollLite
{
	downButtonStyleName: "downButton";
	upButtonStyleName: "upButton";
}

.upButton
{
	skinClass: ClassReference("skins.UpButtonSkin");
	color : #5a62a6;
}

.upButton:down
{
	skinClass: ClassReference("skins.UpButtonSkin");
	color : #ffffff;
}

.upButton:over
{
	skinClass: ClassReference("skins.UpButtonSkin");
	color : #ffffff;
}

.downButton
{
	skinClass: ClassReference("skins.DownButtonSkin");
	color : #5a62a6;
}

.downButton:over
{
	skinClass: ClassReference("skins.DownButtonSkin");
	color : #ffffff;
}

.downButton:down
{
	skinClass: ClassReference("skins.DownButtonSkin");
	color : #ffffff;
}

.header {
	fontSize:22px;
	color : #5a62a6;
	fontFamily: ArialRounded;
	paddingTop:30px;
}

.subHeader{
	color: #000000;
	fontSize : 15px;
	fontFamily: ArialRounded;
}

.statement {
	paddingLeft:3px;
	paddingTop:3px;
	fontSize:15px;
	color : #5a62a6;
	fontFamily: ArialRounded;
}

.bullet {
	fontSize:12px;
	fontFamily: Arial;
}

.question {
	fontSize:12px;
	fontFamily: Arial;
}

.indicator {
	fontWeight:bold;
	cornerRadius: 5;
	skinClass: ClassReference("skins.WrapButtonSkin");
}

.addindicator {
	fontWeight:bold;
	color: #666666;
	borderColor: #cccccc;
	cornerRadius: 5;
	skinClass: ClassReference("skins.WrapButtonSkin");
}

.dragindicator {
	fontWeight:bold;
	chromeColor: #8d90ae;
	cornerRadius: 5;
	skinClass: ClassReference("skins.WrapButtonSkin");
}

.adddragindicator {
	fontWeight:bold;
	chromeColor: #8d90ae;
	color: #666666;
	borderColor: #cccccc;
	cornerRadius: 5;
	skinClass: ClassReference("skins.WrapButtonSkin");
}

.draggeddragindicator {
	fontWeight:bold;
	chromeColor: #8d90ae;
	color: white;
	cornerRadius: 5;
	skinClass: ClassReference("skins.WrapButtonSkin");
}

.addTextbox {
	fontWeight:bold;
	cornerRadius: 5;
	chromeColor: #5a62a6 
}

/* gh */

s|BorderContainer.volanteMain{
	backgroundImage: Embed(source="assets/images/applicationbackground.jpg");
	backgroundImageFillMode: scale;
	backgroundAlpha: 1;
}

@font-face
{
	fontFamily: "ArialRounded";
	src: url("assets/fonts/ArialRoundedBold.ttf");
	embedAsCFF: true;
}

mx|Alert{
	horizontalCenter: "0";
	textAlign:center;
}

s|Image{
	backgroundColor: white;
	horizontalCenter: "0";
	verticalCenter: "0";
	smooth: true;
	/*smoothingQuality: high;*/
	skinClass: ClassReference("skins.BorderImageSkin");
}

/*s|Image{
	border : 2px solid white;
}*/

.narrativeQuestion{
	color: #000000;
	fontSize : 15px;
	fontFamily: ArialRounded;
	paddingLeft:14px;
	paddingTop:4px;
	paddingBottom:7px;
}

.instructionBase{
	color:#666666;
	fontStyle:italic;
	paddingTop : 15px;
	paddingRight : 13px;
}

.imageSelectorBar{
	paddingTop : 21px;
	paddingLeft : 13px;
}

#issueSelectorBoard{
	backgroundAlpha: 1;
	backgroundColor: #c8c9dc;
	paddingLeft : 10px;
	paddingRight : 10px;
}

#imageSelectorBoard{
	backgroundAlpha: 1;
	backgroundColor: #c8c9dc;
	paddingLeft : 10px;
	paddingRight : 10px;
}

.imageSelectorQuestion{
	fontSize : 15px;
	color:#000000;
	textAlign:center;
	fontStyle:normal;
	fontFamily: ArialRounded;
	paddingTop:34px;
	paddingBottom:34px;
	paddingLeft:10px;
	paddingRight:10px;
}

#intro, #outro, .pagesNavigationHeader{
	fontSize:22px;
	/* color:#c8c9dc; */
	color : #5a62a6;
	fontFamily: ArialRounded;
}

#intro{
	paddingLeft:58px; /* temp, we need to get the number on the left there, negative margin?  ..*/
	paddingRight:35px;
	paddingTop:30px;
}

#outro{
	paddingLeft:15px;
	paddingRight:25px;
}

.borderChooseImage{
	borderColor: #000000;
	borderWeight: 0;
}

.borderChooseImageSelected{
	borderColor: #5a62a6;
	borderWeight: 3;
}

.instructionChooseImageHeader{
	fontSize:22px;
	color:#000000;
	fontStyle:italic;
}

.instructionChooseImageHeaderSelected{
	fontSize:22px;
	color:#5a62a6;
	fontStyle:italic;
}

.instructionChooseImage{
	color:#000000;
	fontStyle:italic;
}

.instructionChooseImageSelected{
	color:#5a62a6;
	fontStyle:italic;
}

.pagesNavigationHeader{
	paddingTop:30px;
	paddingLeft:25px; /* check, dit is 23, maar lijnt iig met nummering eronder */
}


s|ButtonBar {
	/* backgroundColor:#5a62a6; */
	paddingTop:30px;
	paddingLeft:25px;
}

/*
s|Button{color:#5a62a6;}
*/

.prevNextCompleteButtonLabel{
	fontSize : 15px;
	lineHeight:15px;
	color:#000000;
	paddingTop:5px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:normal;	
	fontFamily: ArialRounded;
}

#nextButton{
	paddingRight:30px;
}

.pagenavButtonLabel{
	fontSize : 12px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	color:#000000;
	fontWeight:bold;	
	fontFamily: Arial;	
}

.pagenavButtonLabelHover{
	fontSize : 12px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	color:#8d90ae;
	fontWeight:bold;	
	fontFamily: Arial;	
}

.pagenavButtonLabelSelected{
	fontSize : 12px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	fontFamily: Arial;	
	color:#FFFFFF;
}

.moodboardNavButtonLabel{
	fontSize : 12px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	color:#000000;
	fontWeight:bold;	
	fontFamily: Arial;	
}

.moodboardNavButtonLabelHover{
	fontSize : 12px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	color:#8d90ae;
	fontWeight:bold;	
	fontFamily: Arial;	
}


.moodboardNavButtonLabelSelected{
	fontSize : 12px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	fontFamily: Arial;	
	color:#FFFFFF;
}

.iconButtonLabel{
	fontSize : 12px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	color:#000000;
	fontWeight:bold;	
	fontFamily: Arial;	
}

.iconButtonLabelHover{
	fontSize : 12px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	color:#8d90ae;
	fontWeight:bold;	
	fontFamily: Arial;	
}


.iconButtonLabelSelected{
	fontSize : 12px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	fontFamily: Arial;	
	color:#FFFFFF;
}