@namespace s  "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace containers "containers.*";
@namespace components "components.*";
@namespace viewcomponents "view.components.*";
@namespace wizardcomponents "components.wizard.*";
@namespace spinnercomponents "components.spinner.*";
@namespace luigicomponents "org.luigios.main.components.*";

/* 34B233 -> cd8c54 brown */
/* 003C5C -> 95db9d green 94da9c? */
/* c8c9dc -> d9afa2 pink  */
/*@font-face
{
	fontFamily: "CrowdSourceFont";
	fontWeight:bold;
	src: url("assets/fonts/ArialRoundedBold.ttf");
	embedAsCFF: true;
}*/

@font-face
{
	fontFamily: "CrowdSourceFont";
	src: url("assets/fonts/SF_Cartoonist_Hand.ttf");
	embedAsCFF: true;
}

@font-face
{
	fontFamily: "CrowdSourceFont";
	fontWeight:bold;
	src: url("assets/fonts/SF_Cartoonist_Hand_Bold.ttf");
	embedAsCFF: true;
}

@font-face
{
	fontFamily: "CrowdSourceFont";
	fontWeight:bold;
	fontStyle:italic;
	src: url("assets/fonts/SF_Cartoonist_Hand_Bold_Italic.ttf");
	embedAsCFF: true;
}

@font-face
{
	fontFamily: "CrowdSourceFont";
	fontStyle:italic;
	src: url("assets/fonts/SF_Cartoonist_Hand_Italic.ttf");
	embedAsCFF: true;
}

@font-face
{
	fontFamily: "CrowdSourceFontMx";
	src: url("assets/fonts/SF_Cartoonist_Hand.ttf");
	embedAsCFF: false;
}

@font-face
{
	fontFamily: "CrowdSourceFontMx";
	fontWeight:bold;
	src: url("assets/fonts/SF_Cartoonist_Hand_Bold.ttf");
	embedAsCFF: false;
}

@font-face
{
	fontFamily: "CrowdSourceFontMx";
	fontWeight:bold;
	fontStyle:italic;
	src: url("assets/fonts/SF_Cartoonist_Hand_Bold_Italic.ttf");
	embedAsCFF: false;
}

@font-face
{
	fontFamily: "CrowdSourceFontMx";
	fontStyle:italic;
	src: url("assets/fonts/SF_Cartoonist_Hand_Italic.ttf");
	embedAsCFF: false;
}

/* styleName to be used for toolTips created with ToolTipManager.createToolTip */
.createToolTip {
	color: black;
	fontFamily: CrowdSourceFontMx;
	fontSize:15;
	fontStyle: normal;
	borderSkin: ClassReference("skins.ToolTipBorderSkin");
	/*borderStyle: solid;*/
	borderStyle: errorTipBelow; 
	borderColor: #cccccc;
	shadowColor: #95db9d; 
	cornerRadius: 0;
	backgroundAlpha: 1.0;
	backgroundColor: white;
}

.errorTip { 
	color: black; 
	fontFamily: CrowdSourceFontMx;
	fontSize:15; 
	shadowColor: #95db9d; 
	borderColor: #cccccc;
	borderStyle: errorTipBelow; 
	paddingBottom: 4; 
	paddingLeft: 4; 
	paddingRight: 4; 
	paddingTop: 4; 
}

s|Application {
	fontFamily: CrowdSourceFont;
	fontSize:15;
	errorColor: #95db9d;
}

s|Label, s|RichEditableText {
	fontFamily: CrowdSourceFont;
	fontSize:15;
}

mx|Alert {
	horizontalCenter: "0";
	textAlign:center;
	fontSize:15;
	cornerRadius: 20;
	borderColor: #95db9d;
	fontFamily: CrowdSourceFontMx;
}

mx|Button {
	fontFamily: CrowdSourceFontMx;
}

s|BorderContainer {
	borderStyle: solid;
	borderColor: #ffffff;
	cornerRadius: 0;
	backgroundColor: white;
	backgroundAlpha: 0.5;
}

.solidRoundedBorder {
	borderColor: #cccccc;
	borderAlpha: 1;
	borderWeight: 10;
	cornerRadius: 10;
	backgroundColor: #cccccc;
	backgroundAlpha: 1;
}

.solidSquareBorder {
	borderColor: #cccccc;
	borderAlpha: 1;
	borderWeight: 10;
	cornerRadius: 0;
	backgroundColor: #cccccc;
	backgroundAlpha: 1;
}

#instructionsBorder, #statementsFromBorder, #statementsToBorder2 {
	borderColor: #cccccc;
	cornerRadius: 20;
	borderWeight: 20;
}

#statementsToBorder{
	borderColor: #95db9d;
	cornerRadius: 20;
	borderWeight: 20;
}

#narrativeMainView{	
	/*
	backgroundColor: red;
	backgroundAlpha: 0.5;
	border: 1px solid red;
	*/
}

wizardcomponents|WizardComponent {
	cornerRadius: 0;
}

luigicomponents|MapComponent {
	borderStyle: solid; 
	borderColor: #ffffff; 
	backgroundColor: #ccfaff;
}

spinnercomponents|Spinner {
	tickColor: #95db9d; /*#94da9c;*/
}

s|Button {
	cornerRadius: 0;
	backgroundColor:#cccccc; /*#d9afa2;*/
}

s|Button:down,
s|Button:over {
	cornerRadius: 0;
	backgroundColor:#666666; /*#d9afa2;*/
}

s|ButtonBarButton {
	cornerRadius: 0; 
	fontWeight:bold;
	backgroundColor:#cccccc; /*#d9afa2;*/
}

s|ButtonBarButton:over {
	cornerRadius: 0; 
	fontWeight:bold;
	backgroundColor:#cccccc; /*#8d90ae;c8c9dc*/
}

s|ButtonBarButton:down,
s|ButtonBarButton:upAndSelected,
s|ButtonBarButton:overAndSelected,
s|ButtonBarButton:downAndSelected,
s|ButtonBarButton:upAndSelected {
	cornerRadius: 0; 
	fontWeight:bold;
	backgroundColor: #666666; /*#d9afa2;#8d90ae;*/
}

/* normalStates */
.narrativeBarButton {
	color:#000000;
}

/* overStates */
.narrativeBarButton:over {
	color:#ffffff;
}

/* selectedStates */
.narrativeBarButton:down,
.narrativeBarButton:upAndSelected,
.narrativeBarButton:overAndSelected,
.narrativeBarButton:downAndSelected,
.narrativeBarButton:upAndSelected {
	color:#ffffff;
}

mx|ToolTip {
	backgroundAlpha: 1.0;
	backgroundColor: white;
	color: black;
	borderColor: #cccccc;
	cornerRadius: 0;
	fontSize:15;
	fontStyle: normal;
}

components|VolanteToolTip {
	backgroundAlpha: 1.0;
	backgroundColor: white;
	color: black;
	borderColor: #cccccc;
	cornerRadius: 0;
	fontSize:15;
	fontStyle: normal;
	borderStyle: errorTipBelow;
}

#toolTipTitle {
	fontWeight: bold;
	fontLookup:embeddedCFF;
}

#toolTipText {
	fontWeight: normal;
	fontLookup:embeddedCFF;
}

components|VolanteTextArea:selected {
	color : #000000;
	borderColor: #cccccc; /*666666;*/
	accentColor: #95db9d; /*green;*/
}

components|VolanteTextArea:disabled {
	color : #000000;
	borderColor: #000000;
	accentColor: #000000;
}

components|VolanteTextArea:normal {
	color : #000000;
	borderColor: #cccccc; /*666666;*/
	accentColor: #95db9d; /*green;*/
}

containers|ButtonScrollLite
{
	downButtonStyleName: "downButton";
	upButtonStyleName: "upButton";
	borderColor: #cccccc;
}

.upButton
{
	skinClass: ClassReference("skins.UpButtonSkin");
	color : #000000;
	shadowColor: #95db9d;
}

.upButton:down
{
	skinClass: ClassReference("skins.UpButtonSkin");
	color : #ffffff;
	shadowColor: #95db9d;
}

.upButton:over
{
	skinClass: ClassReference("skins.UpButtonSkin");
	color : #ffffff;
	shadowColor: #95db9d;
}

.downButton
{
	skinClass: ClassReference("skins.DownButtonSkin");
	color : #000000;
	shadowColor: #95db9d;
}

.downButton:over
{
	skinClass: ClassReference("skins.DownButtonSkin");
	color : #ffffff;
	shadowColor: #95db9d;
}

.downButton:down
{
	skinClass: ClassReference("skins.DownButtonSkin");
	color : #ffffff;
	shadowColor: #95db9d;
}

s|RichText {
	backgroundColor: white;
	backgroundAlpha: 0.5;
}

s|RichEditableText {
	backgroundColor: white;
	backgroundAlpha: 0.5;
}

.header {
	fontSize:26px;
	color : #000000; /*#d9afa2;*/
	fontWeight:bold;	
	/*fontFamily: CrowdSourceFont;*/
	paddingTop:20px;
}

.subHeader{
	color: #000000;
	fontSize:18px;
	fontWeight:bold;	
	/*fontFamily: CrowdSourceFont;*/
}

.statement {
	paddingLeft:3px;
	paddingTop:3px;
	paddingBottom:3px;
	paddingRight:3px;
	fontWeight:bold;	
	fontSize:18px;
	color: #ffffff;
	/*fontFamily: CrowdSourceFont;*/
}

.statementGroup {
	paddingLeft:3px;
	paddingTop:3px;
	paddingBottom:3px;
	paddingRight:3px;
	borderStyle: solid;
	backgroundColor: #222222;
	borderColor: #cccccc;
	borderWeight: 2;
	cornerRadius: 10;
}

.indicator {
	fontWeight:bold;
	cornerRadius: 5;
	skinClass: ClassReference("skins.WrapButtonSkin");
}

/* gh */
s|BorderContainer.volanteMain{
	/*backgroundImage: Embed(source="assets/images/crowdsourcingbackground.png");
	backgroundImageFillMode: scale;*/
	backgroundColor: #ffffff;
	backgroundAlpha: 1;
}

/*s|BorderContainer.volanteMain{
	backgroundImage: Embed(source="assets/images/paperswatch.jpg");
	backgroundImageFillMode: repeat;
	backgroundAlpha: 1;
}*/

.imagebuttons, .imagebuttons:over, .imagebuttons:down,
.imagebuttons:upAndSelected, .imagebuttons:overAndSelected, 
.imagebuttons:downAndSelected, .imagebuttons:upAndSelected {
	backgroundColor: white;
	/*errorColor: #95db9d;*/
	errorSkin: ClassReference("null");
	cornerRadius: 10;
	smooth: true;
	skinClass: ClassReference("skins.ImageButtonBarSkin");
}

.imagebuttonbarbutton {
	backgroundColor: white;
	errorSkin: ClassReference("null");
	cornerRadius: 10;
	fontSize:18;
}

.togglebuttons {
	skin: ClassReference("skins.ImageToggleButtonSkin");
	/*cornerRadius: 24;*/
	fillAlphas: 0, 0, 1, 1;
	fillColors: white, #213266, #8eb4e3, #213266;
}


s|Image{
	backgroundColor: #95db9d; /*white;*/
	horizontalCenter: "0";
	verticalCenter: "0";
	smooth: true;
	/*smoothingQuality: high;*/
	skinClass: ClassReference("skins.BorderImageSkin");
}

components|LabelImage{
	backgroundColor: white;
	horizontalCenter: "0";
	verticalCenter: "0";
	smooth: true;
	/*smoothingQuality: high;*/
	skinClass: ClassReference("skins.BorderLabelImageSkin");
}

.bigLabelImage {
	backgroundColor: white;
	color: #666666;
	alpha: 0.5;
	horizontalCenter: "0";
	verticalCenter: "0";
	smooth: true;
	/*smoothingQuality: high;*/
	skinClass: ClassReference("skins.BorderBigLabelImageSkin");
}

/*s|Image{
	border : 2px solid white;
}*/

.narrativeQuestion{
	color: #222222;
	fontSize:18px;
	fontWeight:bold;	
	/*fontFamily: CrowdSourceFont;*/
	paddingLeft:14px;
	paddingTop:4px;
	paddingBottom:7px;
}

.instructionBase{
	color:#666666;
	fontStyle:italic;
	fontSize:18px;
	fontLookup:embeddedCFF;
	paddingTop : 15px;
	paddingRight : 13px;
}

.imageSelectorBar{
	paddingTop : 21px;
	paddingLeft : 13px;
}

#issueSelectorBoard{
	backgroundAlpha: 1;
	backgroundColor: #cccccc;
	paddingLeft : 10px;
	paddingRight : 10px;
}

#imageSelectorBoard{
	backgroundAlpha: 1;
	backgroundColor: #cccccc;
	paddingLeft : 10px;
	paddingRight : 10px;
}

.imageSelectorQuestion{
	fontSize:18px;
	color:#000000;
	textAlign:center;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: CrowdSourceFont;*/
	paddingTop:34px;
	paddingBottom:34px;
	paddingLeft:10px;
	paddingRight:10px;
}

#intro, #outro, .pagesNavigationHeader{
	fontSize:26px;
	color : #000000; /*#d9afa2;*/
	fontWeight:bold;	
	/*fontFamily: CrowdSourceFont;*/
}

#intro{
	paddingLeft:50px;
	paddingRight:15px;
	paddingTop:30px;
}

#outro{
	paddingLeft:15px;
	paddingRight:25px;
}

.borderChooseImage, #welcomeContainer, #welcomeContainerT, #primingContainer{
	borderColor: #cccccc; /*666666;*/
	borderWeight:0;
}

.borderChooseImageSelected{
	borderColor: #cccccc; /*666666;*/
	borderWeight:3;
}

.instructionChooseImageHeader{
	fontSize:24px;
	color:#000000;
	fontStyle:italic;
}

.instructionChooseImageHeaderSelected{
	fontSize:24px;
	color:#666666;
	fontStyle:italic;
}

.instructionChooseImage{
	color:#000000;
	fontStyle:italic;
}

.instructionChooseImageSelected{
	color:#666666;
	fontStyle:italic;
}

.pagesNavigationHeader{
	paddingTop:30px;
	paddingLeft:25px; /* check, dit is 23, maar lijnt iig met nummering eronder */
}


s|ButtonBar {
	color:#666666;
	/* backgroundColor:#d9afa2; */
	paddingTop:30px;
	paddingLeft:25px;
}

/*
s|Button{color:#d9afa2;}
*/

.plainButtonLabel{
	fontSize:18px;
	lineHeight:15px;
	color:#000000;
	paddingTop:5px;
	textAlign:center;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: CrowdSourceFont;*/
}

.prevNextCompleteButtonLabel {
	fontSize:18px;
	lineHeight:15px;
	color:#000000;
	paddingTop:5px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: CrowdSourceFont;*/
}

.helpButtonLabel {
	fontSize:18px;
	lineHeight:15px;
	color:#000000;
	paddingTop:5px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: CrowdSourceFont;*/
}

.helpIconButtonLabel {
	fontSize:34px;
	lineHeight:18px;
	color:#95db9d;
	paddingTop:5px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: CrowdSourceFont;*/
}

#nextButton{
	paddingRight:30px;
}

.pagenavButtonLabel{
	fontSize:16px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: Arial;*/	
	color:#000000;
}

.pagenavButtonLabelSelected{
	fontSize:16px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: Arial;*/	
	color:#ffffff;
}

.pagenavButtonLabelHover{
	fontSize:16px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: Arial;*/	
	color:#ffffff;
}

.iconButtonLabel{
	fontSize:15px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	fontFamily: Arial;	
	color:#d9afa2;
}

.iconButtonLabelHover{
	fontSize:15px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: Arial;*/	
	color:#000000;
}

.iconButtonLabelSelected{
	fontSize:15px;
	lineHeight:15px;
	textAlign:left;
	fontStyle:normal;
	fontWeight:bold;	
	/*fontFamily: Arial;*/	
	color:#FFFFFF;
}
.textAreaText {
	fontSize:18px;
}
